/*** FIRA CODE ***/

@font-face {
  font-family: 'Fira Code';
  font-weight: 300 700;
  font-optical-sizing: auto;
  font-style: normal;
  font-display: swap;

  src:
    local('Fira Code'),
    url('../../assets/fonts/fira-code/FiraCode-VariableFont_wght.woff2')
      format('woff2');
}

/*** INTER ***/

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-optical-sizing: auto;
  font-style: normal;
  font-display: swap;

  src:
    local('Inter'),
    url('../../assets/fonts/inter/Inter-VariableFont_opsz,wght.woff2')
      format('woff2');
}
