/* ===================================
   Typography
   =================================== */

.app {
  font-size: 100%;
}

.app-body {
  font-family: var(--font-sans);
  font-size: var(--base-font-size);
  color: var(--text-primary);
  line-height: var(--base-line-height);
}

.app-link {
  color: var(--gradient-2);
}
